@model Asssignment1.Models.ReciepeModel

@{
    Layout = "_LayoutCRUD";
    ViewData["Title"] = "Create";
}

<body>
    <div class="jumbotrons">

        <h2>Create</h2>

        <h4>ReciepeModel</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="reciepeName" class="control-label"></label>
                        <input asp-for="reciepeName" class="form-control" />
                        <span asp-validation-for="reciepeName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="reciepeIngredients" class="control-label"></label>
                        <textarea asp-for="reciepeIngredients" class="form-control"></textarea>
                        <span asp-validation-for="reciepeIngredients" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="reciepeProcedure" class="control-label"></label>
                        <textarea asp-for="reciepeProcedure" class="form-control"></textarea>
                        <span asp-validation-for="reciepeProcedure" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
